header {
  border-bottom: 0.05vh solid slategray;
  box-shadow: 0 4px 2px -2px slategray;
  background-color: #D1D1D1;
  display: inline;
}

.main_nav a {
    text-decoration: none;
}

nav{
    display: inline-block;
    background-color: black;
}

.main_nav li:after {
    content: ' |';
}

.main_nav ul:before {
    content: url('../assets/dino.png');
}

.company_labels {
  font-weight: bold;
}
